apiVersion: v1
kind: Namespace
metadata:
  name: registry

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry-pv
  namespace: registry
spec:
  capacity:
    storage: 5Gi # 根据情况进行修改
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  hostPath:
    path: /mnt/registry

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-pvc
  namespace: registry
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 5Gi
  volumeName: registry-pv

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: registry
  namespace: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
        - name: registry-container
          image: registry:2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: REGISTRY_AUTH
              value: "htpasswd"
            - name: REGISTRY_AUTH_HTPASSWD_REALM
              value: "Registry Realm"
            - name: REGISTRY_AUTH_HTPASSWD_PATH
              value: "/auth/htpasswd"

            {% if protocol == 'https' %}
            - name: REGISTRY_HTTP_TLS_CERTIFICATE
              value: /etc/ssl/docker/tls.crt
            - name: REGISTRY_HTTP_TLS_KEY
              value: /etc/ssl/docker/tls.key
            {% endif %}

          volumeMounts:
            - name: data
              mountPath: /var/lib/registry/
            - name: auth
              mountPath: /auth
              readOnly: true
            
            {% if protocol == 'https' %}
            - name: tls-cert
              mountPath: /etc/ssl/docker
              readOnly: true
            {% endif %}

      volumes:
        - name: auth
          secret:
            secretName: registry
            items:
              - key: htpasswd
                path: htpasswd
        - name: data
          persistentVolumeClaim:
            claimName: registry-pvc

        {% if protocol  == 'https' %}
        - name: tls-cert
          secret:
            secretName: registry-tls
        {% endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: registry
spec:
  selector:
    app: registry
  type: ClusterIP
  #clusterIP: None
  ports:
    - port: 5000
      targetPort: 5000
