---
apiVersion: v1
kind: Secret
metadata:
  name: registry
  namespace: registry
type: Opaque
data:
  htpasswd: {{htpasswd}}

{% if protocol == 'https' %}
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-tls
  namespace: registry
type: kubernetes.io/tls
data:
  tls.crt: {{tls-crt}} 
  tls.key: {{tls-key}}
{% endif %}